.banner{
	width: 100%;
	height: 250px;
	position: relative;
	background-image:url(../img/SAO.jpg);
	background-size: cover;
	overflow: hidden;
	background-position: 20% 50%;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.banner_box{
	display: none;
	position: absolute;
	left: 300px;
	top: 70px;
	width: 100px;
	height: 30px;
	background-color: rgba(0,0,0,0.6);
	color: rgba(255,255,255,1);
	line-height: 30px;
	text-align: center;
	border-radius: 5px;
}
.container{
	margin-top: 15px;
	overflow: hidden;
	position: relative;
}
.banner img{
	position: relative;
	width: 100%;
	height: 300px;
	top: -50px;
}
.mynav{
	position: absolute;
	width: 100%;
	background-color: rgba(0,0,0,0.3);
	bottom: 0px;
}
.mynav>ul{
	width: 50%;
	margin-left: 10%;
	border-bottom: 0px;
}
.mynav>ul a{
	color: black;
}
.mynav ul li:hover .nav2{
	display: block;
}
.nav2{
	display: none;
	width: 70px;
	position: absolute;
	top: 42px;
	list-style: none;
	padding: 0;
	text-align: center;
	color: red
}
.imagebox>a{
	display: block;
}

.searchbox{
	width: 15%;
	position: absolute;
	bottom: 5px;
	right: 200px;
}
#search-img{
	position: absolute;
	left: 130px;
	top: 10px;
}
#search{
	background-color: rgba(255,255,255,0.8);
	width: 150px;
}
#search:hover{
	background-color: rgba(255,255,255,1);
}

.baidubtn{
	position: absolute;
	top: 0px;
	left: 160px;
}
.maininfo{
	height: 300px;
	position: relative;
}
.maininfo img{
	width: 100%;
	height: 100%;
}
.maininfo_imgbox_1{
	position:absolute;
	height: 45%;
	width: 45%;
	left:30px;
	border-radius: 5px;
	overflow: hidden;
}
.maininfo_imgbox_2{
	position:absolute;
	right: 0px;
	height: 45%;
	width: 45%;
	border-radius: 5px;
	overflow: hidden;
}
.maininfo_imgbox_3{
	position:absolute;
	height: 45%;
	width: 45%;
	bottom: 0;
	left:30px;
	border-radius: 5px;
	overflow: hidden;
}
.maininfo_imgbox_4{
	position:absolute;
	right: 0;
	bottom: 0;
	height: 45%;
	width: 45%;
	border-radius: 5px;
	overflow: hidden;
}
.maininfo span{
	width: 100%;
	position:absolute;
	bottom: 0;
	right: 0;
	height: 30px;
	background-color: rgba(0,0,0,0.5);
	color: rgba(255,255,255,0.8);
	line-height: 30px;
	padding-left: 20px;
	cursor: pointer;
	z-index: 10;
}
.section{
	position: relative;
	margin-top: 50px;
	position: relative;
	height: auto;
	margin-bottom: 50px;
}
.article{
	position: relative;
	margin: 0;
	height: 250px;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-radius: 5px;
}
.article:first-child{
	border-top: 1px solid #ccc;
}
.article:last-child{
	border-bottom: 1px solid #ccc;
}
.article img{
	width: 100%;
	height: 100%;
}
.article>a{
	position: relative;

	height: 150px;
	float: left;
	margin-top: 45px;
}
.article h3{
	position: absolute;
	font-size: 18px;
	bottom: -5px;
	right: 10px;
	width: 100px;
	height: 20px;
}
.acg{
	position: absolute;
	top: 45px;
	left: 40%;
	border: 1px solid #ccc;
	padding:5px;
}
.acg a:hover{
	color: rgba(238,134,154,1);
}
.article h1{
	position: absolute;
	left: 60%;
}
.article p{
	position:absolute;
	top: 100px;
	right: 50px;
	line-height: 24px;
}
.article_about{
	position: absolute;
	bottom: 5px;
	left: 0;
	cursor: pointer;
}
.article_about span{
	margin: 0 30px;
}
.col-xs-0{
	display: none;
}

#mask{
	position:fixed;
	background-color: #000;
	opacity: 0.7;
	z-index: 100;
	top: 0;
	left: 0;
	display: none;
}
.userfunction{
	position: absolute;
	right: 10px;
	top:10px;
}
.registerbox{
	width: 500px;
	height: 300px;
	background: rgba(235,235,235,1);
	border-radius: 10px;
	position:fixed;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -150px;
	display: none;
}
.registerbox h1{
	text-align: center;
}
.registerbox label{
	margin-left: 10px;
}
.registerbox button{
	width: 200px;
	position: relative;
	left: 150px;
}

.loginbox{
	width: 500px;
	height: 300px;
	background: rgba(235,235,235,1);
	border-radius: 10px;
	position:fixed;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -150px;
	display: none;
}
.loginbox h1{
	text-align: center;
}
.loginbox label{
	margin-left: 10px;
}
.loginbox button{
	width: 200px;
	position: relative;
	left: 150px;
}
.cloud{
	position: absolute;
	top: 50px;
	right: 0;
	height: 400px;

}
.cloud_h1{
	text-align: center;
	position: relative;
	bottom: -30px;
}
